<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <form>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="password" class="form-control" id="currentPassword" placeholder="Ingrese su contraseña actual">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="password" class="form-control" id="newPassword" placeholder="Ingrese su nueva contraseña">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input type="password" class="form-control" id="newPassword2" placeholder="Repita su nueva contraseña">
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-success">Grabar</button>
            <button type="button" class="btn btn-default">Cancelar</button>
          </form>
      </div>
    </div>
  </div>
  